@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0px;
  left: 0px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

div[contenteditable="true"] > p:first-child {
  margin-top: 0;
}
